.page_collection{
    padding: 150px 0;
    background-color: #15121c;
}
.page_collection .tilt{
    width: 100% !important;
    padding: 0 !important;
    background: none !important;
    margin: 0 !important;
}
.page_collection .pageOuter {
    border-radius: 5px;
    box-shadow: 0px 3px 8px #0000005e;
    max-width: 400px;
    margin: auto;
}
.page_collection .pagethumb {
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
    height: 350px;
    overflow: hidden;
}
.page_collection .pagethumb img {
    object-fit: cover;
    object-position: top;
    height: 350px;
    width: 100%;
}
.page_collection .pageOuter:hover .pagethumb img {
    object-position: bottom;
    transition: all 8s linear;
}
.page_collection .page_title h3 {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    margin: 15px 0;
    color: #fff;
}
.page_collection .page_links a {
    color: #fff;
    display: inline-block;
    height: 40px;
    flex: 1;
    line-height: 40px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #7a929e;
}
.page_collection .page_links a:nth-child(2) {
    background-color: #00a3ff;
    margin-left: 20px;
}

@media screen and (max-width:1199.98px) {
    .page_collection .page_links a {
        padding: 0 10px;
        font-size: 14px;
        height: 36px;
        line-height: 34px;
    }
    .page_collection .pagethumb {
        height: 260px;
    }   
    .page_collection .pagethumb img {
        height: 260px;
    }
}
@media screen and (max-width: 767.98px) {
    .page_collection .page_title h3 {
        font-size: 14px;
        line-height: 26px;
        margin: 12px 0;
    }
}
@media screen and (max-width:1199.98px) {
    
}